header{
    background-color: #1D1919 ;
    min-height: 8vh;
    position: relative;
    
}
header .top{
    display: flex;
    justify-content: space-around   ;
    min-height: 8vh;
    align-items: center;
    background-color: #1D1919;
    font-family: aubrey;
    align-items: center;
    
}
header .f2 a{
    color: #C21370 !important;
    font-size: 65px;
    text-shadow: black 5px 5px 10px !important;
}
header ul{
    
    align-items: center;
    justify-content: space-around;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   
    
}
.menu-mobile{
    display: none;
  
    
}
header menu_header a{
    border: 1px solid #F63E43;
    height: 35px;
    width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #F63E43;
    font-family: b612;
    box-shadow: black 4px 4px 4px 1px;
    margin: 10px  10px 10px 0px;
}
header .menu_header{
    flex-wrap: wrap;
    display: flex;
    
}
header .menu_header a:hover{
    box-shadow: 1px 1px 1px white;
    background-color: #13AFC2;
    border-color: #13AFC2;
}
header .mm_line{
    background-color: #F63E43;
    height: 5px;
    margin: 10px;
    display: flex;

}

header .menu_header a{
    border: 1px solid #F63E43;
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #F63E43;
    font-family: b612;
    box-shadow: black 4px 4px 4px 1px;
    margin: 10px  10px 10px 0px;
}

@media only screen and (max-width: 1350px){
    .top{
        flex-direction: column!important;

    }
    
    
}

@media(max-width: 850px){
    .container{ 
        width: 100vw!important
    }

  
@media(max-width: 670px){
        .f2{
            flex: none!important
        }
        header .top{
            align-items:  flex-start!important;
        }
        header .top h1 a{
            margin-left: 10px;
        }
        .menu_header{
            flex-direction: column;
            position: absolute;
            right: 1px;
            top: -5px;
            padding: 0;
           
            width: 80px;
        }
        .menu_header ul{
            right: 25px;
            flex-direction: column;
            position: absolute;
            display: none;
            padding-left: 10px;
            background-color: #1d1919;
            border-bottom-left-radius: 15px;
            border-top-left-radius: -15px;
            z-index: 999;
        }
    
        .align-header{
            flex-direction: row;
        }
        .menu-mobile{
        display: flex;

        flex-direction: column;
        }
        .menu_header a{
            justify-content: space-evenly;
            border: 1px black solid;
            font-size: large;
            border-radius: 3px;  
        
        }
        .mm_line{
            background-color: #02a2dc;
            height: auto;
            margin: auto;
        }
    }
}
